.card_overlay .overlay {
    width: 270px;
}

.card_overlay .overlay .poke_img .overlay_img {
    margin: 10px 0;
    width: 250px;
    height: 200px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    row-gap: 50px;
    padding: 60px 40px 150px;
    background-color: #ffb95d;
    height: auto;
}

.main .cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 280px));
    place-content: center;
    gap: 30px;
    padding: 20px;
}